@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*=================================
  main styling starts here
=================================*/
.weather {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #C4E3ED;
}

.weather-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.weather-details h3 { margin-bottom: 25px; }

.detail-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.detail {
  display: flex;
  justify-content: space-between;
}

.heading {
  margin-bottom: 50px;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.form {
  width: 70%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-between;
}

.search,
.submit-btn {
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: 1px 1px 20px rgb(0 0 0 / 40%);
}

.input {
  position: relative;
  flex-basis: 65%;
}

.search {
  width: 100%;
  padding: 12px 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  flex-basis: 65%;
  text-transform: capitalize;
}

.search::placeholder { font-size: 16px; }

.submit-btn {
  flex-basis: 25%;
  border-radius: 50px;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}

.weather-box {
  border-radius: 20px;
  display: flex;
  position: relative;
  box-shadow: 1px 1px 50px rgb(0 0 0 / 50%);
  color: #fff;
  font-weight: 700;
}

.weather-data {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-basis: 65%;
}

.weather-details {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 34%;
}

.weather-details h3 {
  font-size: 20px;
  font-weight: 900;
}

.details {
  display: flex;
  flex-direction: column;
}

.detail sup { font-size: 15px; }
.degree { font-size: 35px; }
.data { margin: 20px 0; }

.data h2 {
  font-size: 25px;
  margin: 10px 0;
}

.temp figcaption { margin: 20px 0; }
.temp img { width: 60px; }

.not-found {
  padding: 5px;
  position: absolute;
  color: red;
}

.weather::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-blend-mode: overlay;
  opacity: .6;
}

.snow::before {
  background: url(../images/snow.jpg) rgba(0, 0, 0, .4) center no-repeat;
}

.smoke::before {
  background: url(../images/smoke.jpg) rgba(0, 0, 0, .4) center no-repeat;
}

.thuderstorm::before {
  background: url(../images/thunderstorm.jpg) rgba(0, 0, 0, .4) center no-repeat;
}

.clear::before {
  background: url(../images/clear.jpg) rgba(0, 0, 0, .4) center no-repeat;
}

.clouds::before {
  background: url(../images/cloudy.jpg) rgba(0, 0, 0, .4) center no-repeat;
}

.haze::before {
  background: url(../images/haze.jpg) rgba(0, 0, 0, .4) center no-repeat;
}

.rain::before {
  background: url(../images/rainy.jpg) rgba(0, 0, 0, .4) center no-repeat;
}
/*=================================
  main styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  